Theory/1_introduction.pdf
Theory/2_Symmetric-Algorithms.pdf
Theory/3_Finite Fields.pdf
Theory/4_Stream Ciphers.pdf
Theory/5_LFSR.pdf
Theory/6_Berlekamp-Massey Algorithm.pdf
Theory/7_CPRNG.pdf
Theory/8_Block Ciphers.pdf
Theory/9_AES.pdf
Theory/10_Modes of Operation.pdf
Theory/11_AES in OpenTitan.pdf
Theory/12_Asymmetric Algorithms.pdf
Theory/13_Number Theory.pdf
Theory/14_RSA.pdf
